h1.h1 {
    font-family: 'Times New Roman', Times, serif;
    color:midnightblue;
    text-align: center;
    padding: 5%;
}

h2.h2 {
    color:midnightblue;
    font-family: 'Times New Roman', Times, serif;
}

.jess {
    border: 6px solid;
    color: firebrick;
    width: 100%;
    height: 95%;
    padding: 10px;
}

.main {
    height: 550px;
}